@import '../theme';

.blog {
  margin-bottom: 3rem;
}

.blog__header {
  margin-bottom: 0.5rem;
  a {
    text-decoration: none;
  }
}

.blog__title {
  margin-bottom: 0;
  margin-top: 0;
  a {
    color: $primary-color;
    text-decoration: none;
  }

  &:hover {
    color: $secondary-color;
  }
}

.blog__sub-title {
  color: rgba(0, 0, 0, 0.7);
}

.blog__excerpt {
  color: #222222;
}
