@import '../theme';

.bio-container {
  display: flex;
  margin-bottom: 1rem;
  flex-wrap: wrap;

  a {
    color: $secondary-color;
  }
}

.bio-image {
  margin-right: 0.75rem;
  margin-bottom: 0;
  min-width: 1rem;
  border-radius: 50%;

  @media only screen and (max-width: $mobile-breakpoint) {
    justify-content: center;
  }
}
