@import '../theme';
html {
  font-family: 'Avenir Next', 'Segoe UI', 'Helvetica Neue', Arial, 'PingFang SC',
    'Heiti SC', 'Microsoft YaHei UI', 'Microsoft YaHei', 'Source Han Sans',
    sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
}

.site-header {
  margin-bottom: 1rem;
  margin-top: 0;
  font-size: 1.5rem;

  &.smaller {
    font-size: 1rem;
    color: #444444;
  }

  a {
    text-decoration: none;
  }

  @media only screen and (min-width: $mobile-breakpoint) {
    font-size: 3rem;
    margin-bottom: 1.75rem;
    &.smaller {
      font-size: 2rem;
    }
  }
}

.site {
  margin-left: auto;
  margin-right: auto;
  max-width: 42rem;
  padding: 2.625rem 1.3125rem;

  a {
    color: $primary-color;
  }
}
